target
/artifacts/*.wasm
/artifacts/checksums_intermediate.txt
/artifacts/checksums.txt
/scripts/node_modules
/scripts/.env
/scripts/never_share
/scripts/deploy_terraswap.ts
/scripts/deploy_proxy_contracts.ts
/scripts/multisig_tx_jsons
/scripts/mainnet_bootstrap_astro_ust_pool.ts
/scripts/mainnet_migrate_liquidity_to_astroport.ts
/scripts/mainnet_set_generator_in_periphery.ts
/scripts/mainnet_gen_anc_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_mir_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_vkr_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_psi_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_apollo_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_orion_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_mine_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_stt_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_luna_ust_generator_emissions_staking.ts
/scripts/mainnet_gen_bluna_luna_generator_emissions_staking.ts
/scripts/mainnet_bootstrap_astro_ust_pool.ts
/scripts/list_of_users_eligible_for_airdrop.json
/scripts/create_airdrop_json_final.js
/scripts/create_airdrop_json.js
/scripts/final_ASTRO_airdrop_balances_with_merkle_proofs.json
/scripts/helpers/airdrop_data/*
/scripts/testing_.ts
test
.idea
.gitconfig